* {
    font-family: Poppins, sans-serif;
}

header,
.nav_links,
.pricing,
.gallery {
    display: flex;
}

header img {
    width: 100%;
    height: auto;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    flex-wrap: wrap;
    justify-content: center;
}

.nav_links {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.pricing {
    justify-content: center;
    flex-wrap: wrap;
}

.gallery {
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
}

.gallery img {
    width: 100%;
    box-sizing: border-box;
}

@media all and (min-width: 700px) {
    header img {
        width: 400px;
    }

    header {
        justify-content: space-between;
        align-items: center;
    }

    .nav_links {
        flex-direction: row;
    }

    .card {
        width: 300px;
    }

    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    .gallery img {
        width: 300px;
    }
}

@media (prefers-reduced-motion) {
    header img {
        animation: none;
    }
}